.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: xx-large;
  font-weight: bold;
}

.mistake {
  font-size: xx-large;
  font-weight: bold;
  color: red;
}

#header {
  font-size: xx-large;
  font-weight: bolder;
}

#game-status {
  font-size: xx-large;
  font-weight: bold;
}

.blank {
  font-size: xx-large;
  font-weight: bold;
}